/*文章样式*/


/*标题样式*/
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

article h1{
    font-size: 1.6em;
    font-weight: bold;
}

article h2 {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #cccccc;
}


/*表格*/

article table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

article table th {
    font-weight: bold;
}

article table th,
article table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

article table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

article table tr:nth-child(2n) {
    background-color: #f8f8f8;
}


/*代码块*/

article pre>code {
    border: none;
}


/*块引用*/

article blockquote {
    background: #f9f9f9;
    border: 1px dashed #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201C";
}

article blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

article blockquote p {
    display: inline;
}
