/*文章样式*/


/*标题样式*/
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-content h1{
    font-size: 1.6em;
    font-weight: bold;
}

.post-content h2 {
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #cccccc;
}

.post-content h1 {
        margin: 15px -30px;
        padding: 0 25px;
        border-left: 5px solid #51aded;
        background-color: #f7f7f7;
        font-size: 18px;
        line-height: 40px
}

@media (max-width:992px) {
        .post-content h1 {
                margin: 15px -23px;
                padding: 0 18px
        }
}


/*表格*/

.post-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
}

.post-content table th {
    font-weight: bold;
}

.post-content table th,
.post-content table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.post-content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.post-content table tr:nth-child(2n) {
    background-color: #f8f8f8;
}


/*代码块*/

.post-content pre>code {
    border: none;
}


/*块引用*/

.post-content blockquote {
    background: #f9f9f9;
    border: 1px dashed #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201C";
}

.post-content blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.post-content blockquote p {
    display: inline;
}
