/* Snape CSS Plus */

@import url("./article.css");


/*下拉菜单居中*/

.navbar {
    z-index: 200 !important;
}

.dropdown-menu {
    width: 120px !important;
}

.dropdown-menu a {
    text-align: center !important;
}


/*回到顶部*/

.cd-top {
    cursor: pointer;
}


/*章节目录*/

.toc_widget {
    z-index: 100 !important;
}

.toc_widget a.active {
    color: #5bc0eb;
    font-weight: bold;
}

.toc_widget_list {
    max-height: 300px;
    overflow-y: auto;
}
